.video-card-horizaontal {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: auto;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.video-card-horizaontal .card-text {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.card-text h2 {
  margin-bottom: 5px;
  color: var(--title-color);
}

.video-card-horizaontal img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

.video-card-horizaontal img {
  margin: 0;
}

.video-card-vertical {
  padding: 0 0 1rem;
  height: 19.3rem;
  width: 14.5rem;
  background-color: var(--bg-color);
}

.video-card-vertical .card-img-container {
  margin: 0 0 4px;
  padding: 0;
  position: relative;
}

.video-card-vertical .card-img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px 4px 0 0;
}

.video-card-vertical .card-nav {
  width: 100%;
  margin: 0;
}

.video-card-vertical .card-nav button {
  width: 13.3rem;
}

.video-card-vertical .card-title {
  font-size: 0.9rem;
  height: 2.2rem;
  width: 13rem;
  overflow: hidden;
  color: var(--title-color);
  margin-bottom: 8px;
}

.video-card-vertical .card-nav-icon {
  display: flex;
  align-items: center;
  width: 93%;
  margin: auto;
  justify-content: space-between;
}

.video-card-vertical .card-nav-icon button {
  margin: 0 5px;
}

.video-card-vertical .card-nav-icon h2 {
  margin-left: 5px;
  color: var(--title-color);
}

.video-card-vertical p {
  color: var(--title-color);
}

.video-author {
  font-size: 0.7rem;
  font-weight: 400;
}

.video-views-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-views-date p {
  font-size: 0.7rem;
}

@media screen and (max-width: 580px) {
  .video-card-vertical {
    height: 18.5rem;
    width: 13rem;
  }

  .video-card-vertical .card-nav button {
    width: 11.9rem;
  }
  .video-card-vertical .card-title {
    width: 12.2rem;
  }
}
