.vertical-nav-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 4rem;
  min-width: 15rem;
  height: 100%;
  padding: 0 0 1rem 0.3rem;
}

.nav-bar-mobile {
  display: none;
}

.vertical-nav-menu,
.vertical-nav-category {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.vertical-nav-menu h1,
.vertical-nav-category h1 {
  font-size: 0.95rem;
  padding: 5px 8px;
  margin-left: 8px;
  margin-bottom: 5px;
  color: var(--title-color);
}

.vertical-nav-menu a > div,
.vertical-nav-category a > div {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 4px;
  color: var(--title-color);
  width: 13rem;
}

.vertical-nav-menu a > div:hover,
.vertical-nav-category a > div:hover {
  border-radius: 4px;
  outline: 1px solid var(--primary-color);
  transition: 0.3s ease-in;
}

.vertical-nav-menu i,
.vertical-nav-category i {
  padding: 10px;
  margin-right: 8px;
}

.vertical-nav-menu h2,
.vertical-nav-category h2 {
  font-size: 1rem;
  font-weight: 400;
}

.theme-toggler {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  color: var(--title-color);
}

.section-break-line {
  width: 75%;
  margin-left: 1rem;
}

.theme-toggler button {
  margin-left: 4px;
  color: var(--title-color);
}

.theme-toggler p {
  cursor: pointer;
}

.active-nav {
  border-radius: 4px;
  outline: 1px solid var(--primary-color);
  transition: 0.3s ease-in;
}

.active-nav i {
  color: var(--primary-color);
}

@media screen and (max-width: 580px) {
  .vertical-nav-container {
    position: fixed;
    z-index: 1;
    top: 3.5rem;
    width: 15rem;
    height: 95vh;
    background-color: var(--secondary-bg-color);
    justify-content: flex-start;
  }

  .nav-bar-desktop {
    display: none;
  }

  .nav-bar-mobile {
    display: flex;
  }
}
