.App {
  background-color: var(--bg-color);
}

.desktop-navigation-bar {
  display: flex;
}
.mobile-navigation-bar {
  display: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.447);
  width: 100%;
  height: 120vh;
  position: fixed;
  z-index: 3;
  margin-top: -4rem;
}

@media screen and (max-width: 580px) {
  .desktop-navigation-bar {
    display: none;
  }
  .mobile-navigation-bar {
    display: flex;
  }
}
