:root {
  --bg-color: #fdfdfd;
  --secondary-bg-color: #e8e8e8;
  --card-bg-color: #bebebe91;
  --card-hover-bg-color: rgba(88, 88, 88, 0.162);
  --title-color: #1a1a1a;
  --sub-title-color: #303030;
  --icon-color: rgb(47, 47, 47);
}

html[pebbleplay-theme="light"] {
  --bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --card-bg-color: #bebebe91;
  --card-hover-bg-color: rgba(88, 88, 88, 0.162);
  --title-color: #151515;
  --sub-title-color: #303030;
  --icon-color: rgb(118, 118, 118);
  --card-hover: rgba(21, 21, 21, 0.463);
}

html[pebbleplay-theme="dark"] {
  --bg-color: #2a2a2a;
  --secondary-bg-color: #222222;
  --card-bg-color: #292a2b;
  --card-hover-bg-color: rgba(229, 229, 229, 0.158);
  --title-color: #f2f2f2;
  --sub-title-color: #cecece;
  --icon-color: rgb(146, 146, 146);
  --card-hover: rgba(243, 243, 243, 0.445);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  width: 1rem;
  height: 1rem;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: var(--secondary-bg-color);
  width: 1rem;
}
